<h1>Portfolio Items</h1>

<%= link_to "Create New Item", new_portfolio_path %>

<% @portfolio_items.each do |pi|%>
  <p><%= link_to pi.title, portfolio_path(pi ) %></p>
  <p><%= pi.subtitle %></p>
  <p><%= pi.body%></p>
  <%= image_tag pi.thumb_image unless pi.thumb_image.nil?%>
  <%= link_to "Edit", edit_portfolio_path(pi ) %>
  <%# link_to "Delete", %>
<% end %>
