<%= link_to "Create New Item", new_portfolio_path, if logged_in?(:site_admin)%>

<% @ruby_portfolio_items.each do |pi|%>
  <p><%= link_to pi.title, portfolio_show_path(pi) %></p>
  <p><%= pi.subtitle %></p>
  <p><%= pi.body%></p>
  <%= image_tag pi.thumb_image unless pi.thumb_image.nil?%>
  <%= link_to "Edit", edit_portfolio_path(pi) if logged_in?(:site_admin)%>
  <%= link_to "Delete", portfolio_path(pi), method: :delete, data: {confirm: 'Are you sure?'} if logged_in?(:site_admin)%>
<% end %>
