<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <meta name='keywords' content= <%= @seo_keywords %> />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag 'favicons/favicon.ico' %>
    <%= stylesheet_link_tag    'blog', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/blog_nav' %>
    <%= render 'shared/blog_masthead' %>
    <div class="container">
      <div class="row">
        <%= yield %>
        <%= render 'shared/blog_sidebar' %>
      </div>
    </div>
    <%= render 'shared/blog_footer' %>
  </body>
</html>
